

.team-heading {
    margin-bottom: 50px;
}

.about-team {
    background-color: #F5F4FA;
    text-align: center;
}

.employees {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.employees-about {
    padding-top: 30px;
    padding-bottom: 30px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.about {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--second-text-color);
    margin-top: 10px;
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .employees {
        width: 100%;
    }
    .team-heading{
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
    .employees {
        width: 100%;
        flex-basis: calc((100% - 30px)/2);
    }
    .team-item{
    display: flex;
    flex-wrap: wrap;
    }
    .team-heading {
            margin-bottom: 30px;
        }
}

@media screen and (min-width: 1200px) {
    .team-item {
        flex-wrap: nowrap;
    }

    .employees {
        flex-basis: calc((100% - 90px)/4);
    }
}